.skills{
    &__html{
        p{
            padding: 3px 0;
        }
        ul, ol{
            li{
                padding: 7px 0;
            }
        }
    }

    &__icon{
        padding-right: 5px;
    }
}