.exprience{
    
    &__item{
        
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 30px 0;
        margin: 0 100px;
    }
    &__image{
        flex-basis: 200px;
        min-width: 200px;
        max-width: 200px;
        height: 150px;
        object-fit: scale-down;
    }

    &__info{

    }

    &__title{
        font-size: 32px;
        font-weight: 700;
        
    }

    &__subtitle{
        font-size: 16px;
        padding-bottom: 20px;
    }

    &__text{

    }
}