.footer{
    background-color: #87c05e;
    color: #fff;
    padding: 5px 0;
    &__copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__signature{

    }

    @media (max-width: 1024px) {
        padding: 5px 10px;
        &__signature{
            display: block;
        }

        &__copy{
            display: block;
            text-align: right;
        }
    }
}