
@import url('https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700%7CSacramento&amp;ver=1.6');

.logo{
    display: flex;
    align-items: center;
    &__img{
        border-radius: 50%;
        background-color: #fbfbfb;
        width: 50px;
        height: 50px;
    }
    &__text{
        margin-left: 10px;
        font-size: 36px;
        font-family: 'Sacramento', cursive;
        font-weight: 600;
        padding-top: 10px;
    }
    &-link{
        text-decoration: none;
        color: #fff;
    }
    @media (max-width: 1024px) {
        padding: 10px 15px;
    }
}